
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    position: fixed;
    height: 100%;
    padding-top: 10px;
    background-color:#F7F7F7;
  }
  
  li a  {
    font-family: "Gill Sans MT";
    display: block;
    color: black;
    padding: 8px 50px;
    text-decoration: none;
  }

  li a:hover:not(.active){
      background-color:#F7F7F7;
      color: black;
  }

  body{
      background-color: #F7F7F7;
      margin: 0;
      
  }

  .fa-instagram {
    background: #F7F7F7;
    color: black;
    font-size: large;
    padding-top: 8px;
    text-align: left;
    
  }
  .fa:hover {
    opacity: 0.7;
}

img{
  max-width: 100%;
  height: auto;
  
  margin-left:25%;
  padding:1px 16px;
  height: 1000px;
}

nav{
  position: fixed;
  background-color:#F7F7F7;
  display: block;
  width: 20%;
  overflow: auto;
  float:left;
  height: 100%;

}

nav h1{
  font-family: "Gungsuh";
  padding-left: 46px;
  background-color:#F7F7F7 ;
  font-weight: 100;

}

